extends layout

block content
  .container-fluid
    .row
      img.transferwise-logo(
        src="/images/transferwise_logo.png"
      ) 
      div.contacts-list-wrapper.col-xs-12
        input#searchInput.custom-search(
          placeholder="Type the contact name..."
        )
        ul#contactList
      div#contact-details-wrapper.modal.fade
        div.modal-dialog.contact-modal-details
          div.modal-content
            div.modal-header 
              h4.modal-title Contact Details
            div.modal-body
              p#contactName
              p#contactPhone
              p#contactEmail
            div.modal-footer
              button.btn.btn-default(data-dismiss="modal") Close