doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/libs/bootstrap.css')
    script(src='/javascripts/libs/jquery-3.2.1.js')
    script(src='/javascripts/libs/bootstrap.js')
    script(src='/javascripts/search.js')
  body
    block content
